# Python 缓存
__pycache__/
*.py[cod]

# PyInstaller 打包生成的垃圾文件
build/
*.spec

# 打包生成的 exe (一般不上传二进制文件到源码仓库，或者去 Releases 传)
dist/
*.exe

# 虚拟环境 (如果有)
venv/
myenv/
.env

# 敏感数据文件 (防止把公司资产表传上去！)
*.csv
*.xlsx